@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Righteous&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Righteous', cursive;
}

p, a, li, span, div {
  font-family: 'Inter', sans-serif;
}

.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.righteous-bold {
  font-family: "Righteous", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.righteous-italic {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.righteous-bold-italic {
  font-family: "Righteous", sans-serif;
  font-weight: 700;
  font-style: italic;
}
